* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: auto;
	grid-gap: 1rem;
	text-align: center;
}

.card {
	border: 2px solid #e7e7e7;
	border-radius: 4px;
	padding: 0.5rem;
}

.card img {
	width: 200px;
	height: 200px;
}

@media screen and (max-width: 1060px) {
	.cards {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 760px) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 660px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}
